<!-- Auto inject snippet: nlive -->

<!-- LiveUp CSS Debugger -->
<!-- RED is Bad, Yellow is Check, None is OK -->

<style>
:empty,a,a[href*=javascript],a[href="#"],a[target],img[alt=""]{outline:#ff0 solid 5px}img{outline:red solid 5px}a[title],img[alt]{outline:0}dl>*,form,input,input[type=submit],ol>:not(li),textarea,ul>:not(li){outline:red solid 5px}[id],[style],table>tr,tbody+tfoot,th{outline:#ff0 solid 5px}dl>dd,dl>dt,form[action],input[type=submit][value],input[type],textarea[rows][cols],th[scope]{outline:0}
</style>

<!-- LiveUp Scanner -->

<script>
// <![CDATA[
if ('WebSocket' in window) {
	(function() {
		function refreshCSS() {
			var sheets = [].slice.call(document.getElementsByTagName("link"));
			var head = document.getElementsByTagName("head")[0];
			for (var i = 0; i < sheets.length; ++i) {
				var elem = sheets[i];
				head.removeChild(elem);
				var rel = elem.rel;
				if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
					var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
					elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
				}
				head.appendChild(elem);
			}
		}
		var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
		var address = protocol + window.location.host + window.location.pathname + '/ws';
		var socket = new WebSocket(address);
		socket.onmessage = function(msg) {
			if (msg.data == 'reload') window.location.reload();
			else if (msg.data == 'refreshcss') refreshCSS();
		};
		console.log('[nano] Live reload enabled.');
	})();
}
// ]]>
</script>
